@import "partials.scss";

// globals

h2 {
	font-weight: 500;
	margin-top: 0;
}

// header

.header {
	@include background-blur(5px, .65, $header-bg-img, $header-bg-img-offset - 58%);
	a {
		color: white;
		transition: color .25s;
	}
	.home-link {
			margin: 30px;
		}
		.home-link:hover, .home-link:active, .home-link:focus {
			text-decoration: none;
		}
		.home-link img {
			float: left;
			margin: 1em .5em 1em 0;
		}
		.company-name {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 26px;
			color: #CCDAE4;
			line-height: 1em;
			margin-top: 2px;
			text-transform: uppercase;
		}
		.company-name .part1 {
			font-weight: 900;
		}
		.company-name .part2 {
			font-weight: 400;
		}
		.home-link .company-tagline {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			font-size: 14px;
			color: #CCDAE4;
			font-weight: 400;
			line-height: 1em;
		}

	.search-box .btn {
		background-color: #003559;
		color: #CCDAE4;
	}

	.header-nav-group {
		display: flex;
		@media (min-width: 768px) {
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
		}
		@media (max-width: 767px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			margin-bottom: 1em;
		}
	}
	.search-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		@media (min-width: 768px) {
			margin-top: 1em;
		}
	}
	.employee-login {
		@include light-emphasis;
		@media (min-width: 768px) {
			margin-top: 1em;
		}
		span {
			@media (max-width: 430px) {
				display: none;
			}
		}
	}
	.search-box {
		width: 250px;
		input {
			background-color: #CCDAE4;
		}
		button.btn {
			@include light-emphasis;
		}
	}
}
.ordering {
	@include background-blur(5px, .65, $header-bg-img, $header-bg-img-offset - 47%);
	padding: 10px 0;
	font-family: "Palanquin", serif;
	font-weight: bold;
	font-size: 22px;
	color: #FFEEA6;
	position: relative;
	z-index: 1;
	& > .row {
		max-width: 100%;
		padding-left: 30px;
	}
	.chevron {
		position: absolute;
		top: -10px;
	}
	.chevron1 {
		left: -10%;
	}
	.chevron2 {
		left: -100%;
	}
	&:hover {
		.chevron {
      	transition: left .65s;
		}
		.chevron1 {
			left: 150%;
		}
		.chevron2 {
			left: -10%;
		}
	}
	a {
		color: #FFDD4D;
		display: inline-block;
		position: relative;
		padding-bottom: 3px;
		&:hover {
      	text-decoration: none;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 3px;
			height: 2px;
			width: 0;
			transition: width 0s ease, background .5s ease;
		}
		&:hover:before {
			width: 100%;
			background: #FFDD4D;
			transition: width .5s ease;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 3px;
			height: 2px;
			width: 0;
			background: #FFDD4D;
			transition: width .5s ease;
		}
		&:hover:after {
			width: 100%;
			background: transparent;
			transition: all 0s ease;
		}
	}
	.part1 {
		font-family: "Palanquin Dark", sans-serif;
		font-weight: 700;
	}
	.part2 {
		font-weight: 300;
	}
	.ordering-icon {
		height: 1.4em;
		display: inline-block;
		margin-left: 15px;
		@media (max-width: 675px) {
			display: none;
		}
	}
}

// main content

.kitchen {
	background: url($header-bg-img);
	background-size: cover;
	background-position: 50% $header-bg-img-offset;
	position: relative; // prevent this from overlapping navbar
	z-index: 1; // prevent this from overlapping navbar
	.headline {
		margin-top: 50px;
		max-width: 100%;
	}
}

.quadrants {
	position: relative;
	z-index: 1;
	padding-top: 2em;
	color: #CCDAE4;
	p:last-of-type {
		margin-bottom: 0.5rem;
	}
	.quadrant {
		position: relative;
		margin: 1em 0;
		padding: .5em 1em;
	}
}

// globe

@media (min-width: 1200px) {
	.quadrants {
		padding-bottom: 150px;
	}
	.quadrant {
		width: 400px;
		background: rgba(0, 70, 119, 0.75);
	}
	.quadrant::before {
		content: ' ';
		display: block;
		height: 100%;
		width: 300px;
		right: -300px;
		position: absolute;
		margin-top: -8px;
		background: linear-gradient(90deg, rgba(0, 70, 119, 0.75) 0%, rgba(0, 70, 119, 0.0) 100%);
	}
}
@media (max-width: 1199px) {
	div.globe-row {
		display: none;
	}
	.quadrant {
		background: rgba(0, 70, 119, 0.85);
	}
}

/* remove me */
@media (min-width: 550px) {
	.headline.mobile {
		display: none;
	}
}
@media (max-width: 549px) {
	.headline.desktop {
		display: none;
	}
}

.trophies {
	background: url("/hki-sitefinity-theme/dist/img/awards.png"), linear-gradient(rgba(4,46,83,0.9), rgba(4,46,83,0.9)), url("/hki-sitefinity-theme/dist/img/textures/blue-rock.jpg");
	background-position-x: center;
	background-position-y: top, center, center;
	background-repeat: repeat-x, no-repeat, repeat;
}

.award-bg {
	background: linear-gradient(to top, #0a0a0a, #383838);
	h2 {
		color: #fbd42e;
		margin-bottom: 2em;
	}
}
.award-winner-box {
	background: #fbd42e;
	color: black;
	transform: skew(-8deg);
	width: 440px;
	margin: 1em;
	padding: .75em 20px .5em 20px;
	text-align: center;
	font-size: 28px;
	position: relative;
	.contrast {
		display: inline-block;
		text-transform: uppercase;
		font-size: 22px;
		font-style: normal;
		background-color: black;
		color: #fbd42e;
		padding-left: 10px;
		padding-right: 10px;
	}
	.upper-edge {
		position: absolute;
		top: -.7em;
		left: 25%;
	}
	.split:before {
		content: '';
		width: 320px;
		height: 3px;
		position: absolute;
		left: 60px;
		margin-top: .6em;
		background: black;
		z-index: -1;
	}
	strong {
		display: block;
	}
}
.awards img {
	margin: 50px;
}
.partnerships {
	color: white;
	padding: 2em 0;
	text-align: center;
	h2 {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 38px;
		margin: 20px 0;
	}
	.logos {
		@media (min-width: 760px) {
			margin: 2em;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: 759px) {
			position: absolute;
			left: 50%;
			width: 0;
			overflow: visible;
		}
		&>img {
			@media (max-width: 759px) {
				transition: opacity 1s, left 0.5s;
				opacity: 0;
				position: absolute;
				left: 0;
				&:first-child {
					opacity: 1;
					left: -90px;
					top: 24px;
				}
			}
			@media (min-width: 760px) {
				margin: 20px;
			}
		}
		.faded {
			opacity: .8;
		}
	}
	.partner-logo {
		height: 85px;
	}
	.subway-logo {
		height: 37px;
	}
	.popeyes-logo {
		height: 48px;
	}
	.awards-list {
		list-style: none;
		padding-left: 0;
		margin-top: 1em;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.1em;
		line-height: 1.75em;
		@media (max-width: 759px) {
			margin-top: 125px;
		}
	}
}

.stripe {
	background-size: cover;
	padding: 8vw 0;
}
@media (min-width: 767px) {
	.customer-first {
		background-image: url('/hki-sitefinity-theme/dist/img/backgrounds/customer-first.png'), linear-gradient(#d0e6fd, #ebf7fd);
		background-position: right;
		background-size: auto;
		background-repeat: no-repeat;
	}
}
@media (max-width: 766px) {
	.customer-first {
		background-image: linear-gradient(#d0e6fd, #ebf7fd);
	}
}
.global-leader {
	background-image: url('/hki-sitefinity-theme/dist/img/backgrounds/global-leader.png');
	color: white;
	background-position: center;
	text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
	.relationships h2 {
		font-size: 26px;
	}
}
@media (max-width: 767px) {
	.relationships::before {
		opacity: 0.3;
		transform: scaleX(-1);
		filter: FlipH;
	}
}
.relationships {
	font-weight: 500;
	position: relative;
	&::before {
		content: "";
		background-image: url('/hki-sitefinity-theme/dist/img/backgrounds/relationships.jpg');
		background-position: 50% 80%;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.bg-blueprint {
	background-color: #042e56;
	background-image: url('/hki-sitefinity-theme/dist/img/backgrounds/blueprint-top.png'), url('/hki-sitefinity-theme/dist/img/backgrounds/blueprint-bottom.png');
	background-position: center top, center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 14vw;
	padding-bottom: 18vw;
}
.contact-us {
	font-family: "Palanquin", sans-serif;
	font-size: 26px;
	color: white;
	line-height: 51px;
	.contact-us-btn {
		position: relative;
		top: 1em;
		padding: .5em 2em;
		background-color: #FFD520;
		border-radius: 2em;
		color: black;
		@include light-emphasis;
		font-weight: bold;
	}
}
.sm-center {
	@media (max-width: 991px) {
		text-align: center;
	}
}
footer {
	background-image: url('/hki-sitefinity-theme/dist/img/textures/dark-brushed-metal.jpg');
	color: $text-color;
	position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 7px;
		background: linear-gradient(to right, hsla(228, 6%, 65%, .4), hsla(228, 6%, 65%, .4), hsla(227, 12%, 86%, .6), hsla(228, 6%, 65%, .4));
		box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3);
		position: absolute;
		top: 0;
		left: 0;
	}
	a:link, a:visited, a:hover, a:active {
		color: $text-color;
		text-decoration: underline;
	}
	.col {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.smallcaps {
		@include heavy-emphasis;
		color: rgba(169, 169, 169, 1);
	}
	.lang-select {
		margin: 1em 0;
		background: #161617;
		color: $text-color;
		@include light-emphasis;
	}
	.link-row {
		margin: 1em 0;
		a {
			@include light-emphasis;
		}
		a:first-child {
			padding-right: .5em;
		}
		a:not(:first-child) {
			padding: .5em;
		}
	}
	.title {
		font-weight: bold;
		display: inline;
		margin-right: .75em;
	}
}
